*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 1140px;
	margin: 0px auto;
}


/*Header Section*/
header{
	width: 100%;
	float: left;
	position: fixed;
	top: 0;
}
.logo{
	width: 30%;
	float: left;
}
.logo img{
	width: 160px;
	height: 90px;
}
.menu{
	width: 40%;
	float: left;
}
.menu>nav ul {
    margin: 22px 1px;
}
.menu>nav ul li {
    display: inline-block;
    margin: 10px 15px;
}
.menu>nav ul li a{
	color: #fff;
	font-size: 16px;
	padding: 8px 10px;
	text-decoration: none;
	text-transform: uppercase;
}

/* Social Section*/
.social{
	width: 30%;
	float: left;
}
.social ul{
	list-style: none;
	margin: 20px 1px;
}
.social ul li {
    display: inline-block;
    margin: 6px 6px;
}
.social ul li a {
	text-decoration: none;
	color: white;
}
.fa.fa-facebook{
    background-color: #0777E9;
    font-size: 20px;
    color: #fff;
    padding: 7px 13px;
}
.fa.fa-twitter {
    background-color: #16A6FC;
    font-size: 20px;
    color: #ffffff;
    padding: 7px 13px;
}
.fa.fa-linkedin{
	background-color: #0A66C2;
    font-size: 20px;
    color: #fff;
    padding: 7px 13px;
}
.fa.fa-google-plus{
	background-color: #C7473A;
    font-size: 20px;
    color: #fff;
    padding: 7px 13px;
}

/* Banner Section */
.banner{

	width: 100%;
	float: left;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	height: 700px;

}

/* Service Plan Section */
.plan{
	width: 100%;
	float: left;
}
.plan-one{
	width: 25%;
	float: left;
}
.plan-one ul{
	list-style: none;

}
.plan-one h2{
	text-align: center;
}
.plan-one ul li{

}
.fa.fa-check {
    color: white;
    font-size: 30px;
    background-color: #6879D2;
    margin: 10px 100px;
    border-radius: 49%;
    padding: 20px;
}
.plan-two{
	width: 25%;
	float: left;
}
.plan-two ul{
	list-style: none;
}
.plan-two h2{
	text-align: center;
}
.fa.fa-map-marker{
    color: white;
    font-size: 30px;
    background-color: #019689;
    margin: 10px 100px;
    border-radius: 49%;
    padding: 20px;
}
.plan-three{
	width: 25%;
	float: left;
}
.plan-three ul{
	list-style: none;
}
.plan-three h2{
	text-align: center;
}
.plan-three ul li{

}
.fa.fa-money {
    color: white;
    font-size: 30px;
    background-color: #4BB050;
    margin: 10px 100px;
    border-radius: 49%;
    padding: 20px;
}
.plan-four{
	width: 25%;
	float: left;
}
.plan-four ul{
	list-style: none;
}
.plan-four h2{
	text-align: center;
}
.plan-four ul li{

}
.fa.fa-user-plus {
    background-color: #98E16B;
    font-size: 30px;
    color: #ffffff;
    padding: 20px;
    border-radius: 49%;
    margin: 10px 100px;
}

/* Invest Section */
.invest{
	width: 100%;
	float: left;
}
.invest-one{
	background-color: rgba(255, 255, 255, 0.55);
    padding: 40px;
    text-align: center;
}
.invest-two{

}

/*Footer Section*/
footer{
	width: 100%;
	float: left;
	padding: 25px 0px;
}

.copyright{
	width: 50%;
	float: left;

}





